html {
    height: 100%;
}

body{
    background: url('/bundles/dupuser/images/rawpixel-670711-unsplash.jpg') no-repeat center;
    background-size: cover;
    min-height: 100%;
    overflow-y: hidden;
    color: #444;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: rgba(0, 75, 156, 0.97);
}
footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0.5rem;
}
footer ul a, footer ul a:hover {
    color: white;
    padding: 0 1rem;
}
section#form-container {
    position: absolute;
    width: 50%;
    min-height: 400px;
    background-color: white;
    right: 3rem;
    top: 3rem;
    max-width: 90%;
    max-height: 90%;
    padding: 4rem;
}
.action-choices.row {
    margin-top: 3rem;
}
.action-choices a img {
    width: 100%;
    height: auto;
}
.action-choices a {
    position: relative;
    display: block;
}
.action-choices a h3 {
    font-weight: 300;
    font-size: 1.4rem;
    text-align: center;
    margin: 0;
    color: white;
    background-color: rgba(0, 75, 156, 0.97);
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 4rem;
    line-height: 3.5rem;
}
.splash h1, .splash h2 {
    font-size: 1.7rem;
    color: rgba(0, 75, 156, 0.97);
}
.action-choice-join, .action-choice-create {
    position: absolute;
    width: 100%;
    background-color: rgba(255,255,255,0.95);
    left: 0;
    top: 0;
    height: 100%;
    /* transform: translateY(-50%); */
    padding: 4rem;
}
.action-choice-join form {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}
input:focus, input:active, select:focus, select:active{
    border: solid 1px rgba(0, 75, 156, 0.97);
    outline: none;
}
input[type=number] {
    padding: 2px;
}
.action-choice-join input {
    padding: 0.5rem;
    display: block;
    width: 100%;
    box-shadow: none;
    outline: none;
    border: solid 1px #999;
}
h1, h2 {
    font-size: 1.7rem;
}
.action-choice-join h2 {
    position: absolute;
    top: 4rem;
    left: 4rem;
}
.action-choice{
    display: none;
}
h3.step-title {
    font-size: 2rem;
    margin: 2rem 0 1rem;
    font-weight: 300;
}
.action-choice-create {
    background-color: white;
    height: auto;
    max-height: 80vh;
    overflow: auto;
}
ul.step-indicators {
    list-style: none;
    clear: both;
    padding: 0;
    overflow: auto;
    margin: 1rem 0;
}
ul.step-indicators + * {
    clear: both;
}
li.step-indicator {
    float: left;
    width: 10rem;
    height: .5rem;
    border-radius: 0.33rem;
    margin-right: 2rem;
    background-color: rgba(0,0,0,0.1);
}
li.step-indicator.active {
    background-color: rgba(0, 75, 156, 0.97);
}
.form-line label + select, #appbundle_societe_adresseSocietes label + select{
    padding: 3px;
}
.form-line {
    float: left;
    width: 50%;
    padding-right: 1rem;
    margin-bottom: 1rem;
}
.form-line label, #appbundle_societe_adresseSocietes label {
    display: block;
}
.form-line label + input, .form-line label + select, #appbundle_societe_adresseSocietes label + input, #appbundle_societe_adresseSocietes label + select {
    width: 100%;
    height: 2rem;
}
.form-line.date-line select {
    padding: 3px;
    width: 33%;
    height: 2rem;
}
.next-line .btn {
    background-color: rgba(0, 75, 156, 0.97);
    color: white;
}
.next-line .next-btn{
    float: right;
}
.next-line .previous-btn{
    float: left;
}
.next-line {
    width: 100%;
    margin-top: 2rem;
    float: left;
}
.step{
    display: none;
}
.step.active{
    display: block;
}
